<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <properties>
        <Property name="LOG_NAME">loan-order-center-service</Property>
        <Property name="LOG_HOME">/www/logs/${LOG_NAME}</Property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="ERROR" fileName="${LOG_HOME}/${LOG_NAME}.error.log" append="false">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %M() @%L - %msg%n"/>
        </File>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${LOG_NAME}.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/${LOG_NAME}.-%d{yyyy-MM-dd}-%i.log" append="true">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- myibatis log configure -->
        <logger name="com.mybatis" level="DEBUG"/>
        <logger name="com.mybatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
        <logger name="com.mybatis.common.jdbc.ScriptRunner" level="DEBUG"/>
        <logger name="com.mybatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
        <logger name="com.apache.ibatis" level="DEBUG"/>
        <logger name="org.mybatis.spring" level="DEBUG"/>
        <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="DEBUG"/>
        <logger name="java.sql.Connection" level="DEBUG"/>
        <logger name="java.sql.Statement" level="DEBUG"/>
        <logger name="java.sql.PreparedStatement" level="DEBUG"/>
        <!-- 减少部分debug日志 -->
        <logger name="druid.sql" level="INFO"/>
        <logger name="net.sf.ehcache" level="INFO"/>
        <logger name="org.apache.shiro" level="INFO"/>
        <logger name="org.mybatis.spring" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <!-- 业务debug日志 -->
        <logger name="com.zml" level="DEBUG"/>

        <Root level="DEBUG">
            <AppenderRef ref="ERROR"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>