<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.demo.producer.dao.mapper.OCallRecoverRecordsMapper">
  <resultMap id="BaseResultMap" type="com.zml.demo.producer.dao.model.OCallRecoverRecords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="call_record_id" jdbcType="INTEGER" property="callRecordId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="call_time" jdbcType="TIMESTAMP" property="callTime" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="call_duration" jdbcType="INTEGER" property="callDuration" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="recovery_time" jdbcType="TIMESTAMP" property="recoveryTime" />
    <result column="employee" jdbcType="VARCHAR" property="employee" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, call_record_id, user_id, mobile, call_time, file_name, 
    call_duration, gid, status, recovery_time, employee, operator
  </sql>
  <select id="selectByExample" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecordsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from o_call_recover_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_call_recover_records
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_call_recover_records
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecordsExample">
    delete from o_call_recover_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecords">
    insert into o_call_recover_records (id, create_time, update_time, 
      call_record_id, user_id, mobile, 
      call_time, file_name, call_duration, 
      gid, status, recovery_time, 
      employee, operator)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{callRecordId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{callTime,jdbcType=TIMESTAMP}, #{fileName,jdbcType=VARCHAR}, #{callDuration,jdbcType=INTEGER}, 
      #{gid,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{recoveryTime,jdbcType=TIMESTAMP}, 
      #{employee,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecords">
    insert into o_call_recover_records
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="callRecordId != null">
        call_record_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="callTime != null">
        call_time,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="callDuration != null">
        call_duration,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="recoveryTime != null">
        recovery_time,
      </if>
      <if test="employee != null">
        employee,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callRecordId != null">
        #{callRecordId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="callDuration != null">
        #{callDuration,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="recoveryTime != null">
        #{recoveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="employee != null">
        #{employee,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecordsExample" resultType="java.lang.Long">
    select count(*) from o_call_recover_records
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update o_call_recover_records
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callRecordId != null">
        call_record_id = #{record.callRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.callTime != null">
        call_time = #{record.callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fileName != null">
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.callDuration != null">
        call_duration = #{record.callDuration,jdbcType=INTEGER},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.recoveryTime != null">
        recovery_time = #{record.recoveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.employee != null">
        employee = #{record.employee,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update o_call_recover_records
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      call_record_id = #{record.callRecordId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      call_time = #{record.callTime,jdbcType=TIMESTAMP},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      call_duration = #{record.callDuration,jdbcType=INTEGER},
      gid = #{record.gid,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      recovery_time = #{record.recoveryTime,jdbcType=TIMESTAMP},
      employee = #{record.employee,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecords">
    update o_call_recover_records
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callRecordId != null">
        call_record_id = #{callRecordId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        call_time = #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="callDuration != null">
        call_duration = #{callDuration,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="recoveryTime != null">
        recovery_time = #{recoveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="employee != null">
        employee = #{employee,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zml.demo.producer.dao.model.OCallRecoverRecords">
    update o_call_recover_records
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      call_record_id = #{callRecordId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      call_time = #{callTime,jdbcType=TIMESTAMP},
      file_name = #{fileName,jdbcType=VARCHAR},
      call_duration = #{callDuration,jdbcType=INTEGER},
      gid = #{gid,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      recovery_time = #{recoveryTime,jdbcType=TIMESTAMP},
      employee = #{employee,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>