<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.demo.producer.dao.mapper.ODelayLogMapper">
  <resultMap id="BaseResultMap" type="com.zml.demo.producer.dao.model.ODelayLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="delay_id" jdbcType="VARCHAR" property="delayId" />
    <result column="before_content" jdbcType="VARCHAR" property="beforeContent" />
    <result column="after_content" jdbcType="VARCHAR" property="afterContent" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operate_result" jdbcType="VARCHAR" property="operateResult" />
    <result column="operate_field" jdbcType="VARCHAR" property="operateField" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, delay_id, before_content, after_content, operate_type, operator, operate_result, 
    operate_field, remark, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zml.demo.producer.dao.model.ODelayLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from o_delay_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o_delay_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_delay_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zml.demo.producer.dao.model.ODelayLogExample">
    delete from o_delay_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zml.demo.producer.dao.model.ODelayLog">
    insert into o_delay_log (id, order_id, delay_id, 
      before_content, after_content, operate_type, 
      operator, operate_result, operate_field, 
      remark, create_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{delayId,jdbcType=VARCHAR}, 
      #{beforeContent,jdbcType=VARCHAR}, #{afterContent,jdbcType=VARCHAR}, #{operateType,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operateResult,jdbcType=VARCHAR}, #{operateField,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zml.demo.producer.dao.model.ODelayLog">
    insert into o_delay_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="delayId != null">
        delay_id,
      </if>
      <if test="beforeContent != null">
        before_content,
      </if>
      <if test="afterContent != null">
        after_content,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operateResult != null">
        operate_result,
      </if>
      <if test="operateField != null">
        operate_field,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="delayId != null">
        #{delayId,jdbcType=VARCHAR},
      </if>
      <if test="beforeContent != null">
        #{beforeContent,jdbcType=VARCHAR},
      </if>
      <if test="afterContent != null">
        #{afterContent,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null">
        #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="operateField != null">
        #{operateField,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zml.demo.producer.dao.model.ODelayLogExample" resultType="java.lang.Long">
    select count(*) from o_delay_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update o_delay_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.delayId != null">
        delay_id = #{record.delayId,jdbcType=VARCHAR},
      </if>
      <if test="record.beforeContent != null">
        before_content = #{record.beforeContent,jdbcType=VARCHAR},
      </if>
      <if test="record.afterContent != null">
        after_content = #{record.afterContent,jdbcType=VARCHAR},
      </if>
      <if test="record.operateType != null">
        operate_type = #{record.operateType,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.operateResult != null">
        operate_result = #{record.operateResult,jdbcType=VARCHAR},
      </if>
      <if test="record.operateField != null">
        operate_field = #{record.operateField,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update o_delay_log
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      delay_id = #{record.delayId,jdbcType=VARCHAR},
      before_content = #{record.beforeContent,jdbcType=VARCHAR},
      after_content = #{record.afterContent,jdbcType=VARCHAR},
      operate_type = #{record.operateType,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR},
      operate_result = #{record.operateResult,jdbcType=VARCHAR},
      operate_field = #{record.operateField,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zml.demo.producer.dao.model.ODelayLog">
    update o_delay_log
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="delayId != null">
        delay_id = #{delayId,jdbcType=VARCHAR},
      </if>
      <if test="beforeContent != null">
        before_content = #{beforeContent,jdbcType=VARCHAR},
      </if>
      <if test="afterContent != null">
        after_content = #{afterContent,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null">
        operate_result = #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="operateField != null">
        operate_field = #{operateField,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zml.demo.producer.dao.model.ODelayLog">
    update o_delay_log
    set order_id = #{orderId,jdbcType=VARCHAR},
      delay_id = #{delayId,jdbcType=VARCHAR},
      before_content = #{beforeContent,jdbcType=VARCHAR},
      after_content = #{afterContent,jdbcType=VARCHAR},
      operate_type = #{operateType,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operate_result = #{operateResult,jdbcType=VARCHAR},
      operate_field = #{operateField,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>