<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zml.demo.producer.dao.mapper.OExtfeePayMapper">
  <resultMap id="BaseResultMap" type="com.zml.demo.producer.dao.model.OExtfeePay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="extfee_pay_id" jdbcType="VARCHAR" property="extfeePayId" />
    <result column="payment_id" jdbcType="VARCHAR" property="paymentId" />
    <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="user_pay_time" jdbcType="TIMESTAMP" property="userPayTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="pay_third_party_channel" jdbcType="VARCHAR" property="payThirdPartyChannel" />
    <result column="pay_result" jdbcType="VARCHAR" property="payResult" />
    <result column="pay_proof_url" jdbcType="VARCHAR" property="payProofUrl" />
    <result column="pay_proof_status" jdbcType="TINYINT" property="payProofStatus" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="loan_model" jdbcType="TINYINT" property="loanModel" />
    <result column="payer" jdbcType="VARCHAR" property="payer" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_branch" jdbcType="VARCHAR" property="bankBranch" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="bank_card_first_name_th" jdbcType="VARCHAR" property="bankCardFirstNameTh" />
    <result column="bank_card_last_name_th" jdbcType="VARCHAR" property="bankCardLastNameTh" />
    <result column="bank_card_first_name_en" jdbcType="VARCHAR" property="bankCardFirstNameEn" />
    <result column="bank_card_last_name_en" jdbcType="VARCHAR" property="bankCardLastNameEn" />
    <result column="company_bank_name" jdbcType="VARCHAR" property="companyBankName" />
    <result column="company_account_no" jdbcType="VARCHAR" property="companyAccountNo" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_bank_branch" jdbcType="VARCHAR" property="companyBankBranch" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zml.demo.producer.dao.model.OExtfeePay">
    <result column="qr_code_data" jdbcType="LONGVARCHAR" property="qrCodeData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, order_id, extfee_pay_id, payment_id, third_order_id, 
    user_id, mobile, pay_amount, pay_time, user_pay_time, confirm_time, pay_status, pay_way, 
    pay_channel, pay_third_party_channel, pay_result, pay_proof_url, pay_proof_status, 
    upload_time, remark, loan_model, payer, payee, qr_code, bank_id, bank_name, bank_branch, 
    account_no, bank_card_first_name_th, bank_card_last_name_th, bank_card_first_name_en, 
    bank_card_last_name_en, company_bank_name, company_account_no, company_name, company_bank_branch
  </sql>
  <sql id="Blob_Column_List">
    qr_code_data
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zml.demo.producer.dao.model.OExtfeePayExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from o_extfee_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zml.demo.producer.dao.model.OExtfeePayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from o_extfee_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from o_extfee_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_extfee_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zml.demo.producer.dao.model.OExtfeePayExample">
    delete from o_extfee_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zml.demo.producer.dao.model.OExtfeePay">
    insert into o_extfee_pay (id, create_time, update_time, 
      order_id, extfee_pay_id, payment_id, 
      third_order_id, user_id, mobile, 
      pay_amount, pay_time, user_pay_time, 
      confirm_time, pay_status, pay_way, 
      pay_channel, pay_third_party_channel, pay_result, 
      pay_proof_url, pay_proof_status, upload_time, 
      remark, loan_model, payer, 
      payee, qr_code, bank_id, 
      bank_name, bank_branch, account_no, 
      bank_card_first_name_th, bank_card_last_name_th, 
      bank_card_first_name_en, bank_card_last_name_en, 
      company_bank_name, company_account_no, company_name, 
      company_bank_branch, qr_code_data)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{orderId,jdbcType=VARCHAR}, #{extfeePayId,jdbcType=VARCHAR}, #{paymentId,jdbcType=VARCHAR}, 
      #{thirdOrderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{payAmount,jdbcType=DECIMAL}, #{payTime,jdbcType=TIMESTAMP}, #{userPayTime,jdbcType=TIMESTAMP}, 
      #{confirmTime,jdbcType=TIMESTAMP}, #{payStatus,jdbcType=TINYINT}, #{payWay,jdbcType=VARCHAR}, 
      #{payChannel,jdbcType=VARCHAR}, #{payThirdPartyChannel,jdbcType=VARCHAR}, #{payResult,jdbcType=VARCHAR}, 
      #{payProofUrl,jdbcType=VARCHAR}, #{payProofStatus,jdbcType=TINYINT}, #{uploadTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{loanModel,jdbcType=TINYINT}, #{payer,jdbcType=VARCHAR}, 
      #{payee,jdbcType=VARCHAR}, #{qrCode,jdbcType=VARCHAR}, #{bankId,jdbcType=INTEGER}, 
      #{bankName,jdbcType=VARCHAR}, #{bankBranch,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, 
      #{bankCardFirstNameTh,jdbcType=VARCHAR}, #{bankCardLastNameTh,jdbcType=VARCHAR}, 
      #{bankCardFirstNameEn,jdbcType=VARCHAR}, #{bankCardLastNameEn,jdbcType=VARCHAR}, 
      #{companyBankName,jdbcType=VARCHAR}, #{companyAccountNo,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{companyBankBranch,jdbcType=VARCHAR}, #{qrCodeData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zml.demo.producer.dao.model.OExtfeePay">
    insert into o_extfee_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="extfeePayId != null">
        extfee_pay_id,
      </if>
      <if test="paymentId != null">
        payment_id,
      </if>
      <if test="thirdOrderId != null">
        third_order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="userPayTime != null">
        user_pay_time,
      </if>
      <if test="confirmTime != null">
        confirm_time,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="payWay != null">
        pay_way,
      </if>
      <if test="payChannel != null">
        pay_channel,
      </if>
      <if test="payThirdPartyChannel != null">
        pay_third_party_channel,
      </if>
      <if test="payResult != null">
        pay_result,
      </if>
      <if test="payProofUrl != null">
        pay_proof_url,
      </if>
      <if test="payProofStatus != null">
        pay_proof_status,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="loanModel != null">
        loan_model,
      </if>
      <if test="payer != null">
        payer,
      </if>
      <if test="payee != null">
        payee,
      </if>
      <if test="qrCode != null">
        qr_code,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankBranch != null">
        bank_branch,
      </if>
      <if test="accountNo != null">
        account_no,
      </if>
      <if test="bankCardFirstNameTh != null">
        bank_card_first_name_th,
      </if>
      <if test="bankCardLastNameTh != null">
        bank_card_last_name_th,
      </if>
      <if test="bankCardFirstNameEn != null">
        bank_card_first_name_en,
      </if>
      <if test="bankCardLastNameEn != null">
        bank_card_last_name_en,
      </if>
      <if test="companyBankName != null">
        company_bank_name,
      </if>
      <if test="companyAccountNo != null">
        company_account_no,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyBankBranch != null">
        company_bank_branch,
      </if>
      <if test="qrCodeData != null">
        qr_code_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="extfeePayId != null">
        #{extfeePayId,jdbcType=VARCHAR},
      </if>
      <if test="paymentId != null">
        #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPayTime != null">
        #{userPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="payWay != null">
        #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null">
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payThirdPartyChannel != null">
        #{payThirdPartyChannel,jdbcType=VARCHAR},
      </if>
      <if test="payResult != null">
        #{payResult,jdbcType=VARCHAR},
      </if>
      <if test="payProofUrl != null">
        #{payProofUrl,jdbcType=VARCHAR},
      </if>
      <if test="payProofStatus != null">
        #{payProofStatus,jdbcType=TINYINT},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loanModel != null">
        #{loanModel,jdbcType=TINYINT},
      </if>
      <if test="payer != null">
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payee != null">
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankBranch != null">
        #{bankBranch,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCardFirstNameTh != null">
        #{bankCardFirstNameTh,jdbcType=VARCHAR},
      </if>
      <if test="bankCardLastNameTh != null">
        #{bankCardLastNameTh,jdbcType=VARCHAR},
      </if>
      <if test="bankCardFirstNameEn != null">
        #{bankCardFirstNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bankCardLastNameEn != null">
        #{bankCardLastNameEn,jdbcType=VARCHAR},
      </if>
      <if test="companyBankName != null">
        #{companyBankName,jdbcType=VARCHAR},
      </if>
      <if test="companyAccountNo != null">
        #{companyAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyBankBranch != null">
        #{companyBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="qrCodeData != null">
        #{qrCodeData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zml.demo.producer.dao.model.OExtfeePayExample" resultType="java.lang.Long">
    select count(*) from o_extfee_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update o_extfee_pay
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.extfeePayId != null">
        extfee_pay_id = #{record.extfeePayId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentId != null">
        payment_id = #{record.paymentId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdOrderId != null">
        third_order_id = #{record.thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.payAmount != null">
        pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userPayTime != null">
        user_pay_time = #{record.userPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.confirmTime != null">
        confirm_time = #{record.confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payStatus != null">
        pay_status = #{record.payStatus,jdbcType=TINYINT},
      </if>
      <if test="record.payWay != null">
        pay_way = #{record.payWay,jdbcType=VARCHAR},
      </if>
      <if test="record.payChannel != null">
        pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.payThirdPartyChannel != null">
        pay_third_party_channel = #{record.payThirdPartyChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.payResult != null">
        pay_result = #{record.payResult,jdbcType=VARCHAR},
      </if>
      <if test="record.payProofUrl != null">
        pay_proof_url = #{record.payProofUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.payProofStatus != null">
        pay_proof_status = #{record.payProofStatus,jdbcType=TINYINT},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.loanModel != null">
        loan_model = #{record.loanModel,jdbcType=TINYINT},
      </if>
      <if test="record.payer != null">
        payer = #{record.payer,jdbcType=VARCHAR},
      </if>
      <if test="record.payee != null">
        payee = #{record.payee,jdbcType=VARCHAR},
      </if>
      <if test="record.qrCode != null">
        qr_code = #{record.qrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bankId != null">
        bank_id = #{record.bankId,jdbcType=INTEGER},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankBranch != null">
        bank_branch = #{record.bankBranch,jdbcType=VARCHAR},
      </if>
      <if test="record.accountNo != null">
        account_no = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardFirstNameTh != null">
        bank_card_first_name_th = #{record.bankCardFirstNameTh,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardLastNameTh != null">
        bank_card_last_name_th = #{record.bankCardLastNameTh,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardFirstNameEn != null">
        bank_card_first_name_en = #{record.bankCardFirstNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardLastNameEn != null">
        bank_card_last_name_en = #{record.bankCardLastNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.companyBankName != null">
        company_bank_name = #{record.companyBankName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAccountNo != null">
        company_account_no = #{record.companyAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyBankBranch != null">
        company_bank_branch = #{record.companyBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="record.qrCodeData != null">
        qr_code_data = #{record.qrCodeData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update o_extfee_pay
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      extfee_pay_id = #{record.extfeePayId,jdbcType=VARCHAR},
      payment_id = #{record.paymentId,jdbcType=VARCHAR},
      third_order_id = #{record.thirdOrderId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      user_pay_time = #{record.userPayTime,jdbcType=TIMESTAMP},
      confirm_time = #{record.confirmTime,jdbcType=TIMESTAMP},
      pay_status = #{record.payStatus,jdbcType=TINYINT},
      pay_way = #{record.payWay,jdbcType=VARCHAR},
      pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      pay_third_party_channel = #{record.payThirdPartyChannel,jdbcType=VARCHAR},
      pay_result = #{record.payResult,jdbcType=VARCHAR},
      pay_proof_url = #{record.payProofUrl,jdbcType=VARCHAR},
      pay_proof_status = #{record.payProofStatus,jdbcType=TINYINT},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      loan_model = #{record.loanModel,jdbcType=TINYINT},
      payer = #{record.payer,jdbcType=VARCHAR},
      payee = #{record.payee,jdbcType=VARCHAR},
      qr_code = #{record.qrCode,jdbcType=VARCHAR},
      bank_id = #{record.bankId,jdbcType=INTEGER},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bank_branch = #{record.bankBranch,jdbcType=VARCHAR},
      account_no = #{record.accountNo,jdbcType=VARCHAR},
      bank_card_first_name_th = #{record.bankCardFirstNameTh,jdbcType=VARCHAR},
      bank_card_last_name_th = #{record.bankCardLastNameTh,jdbcType=VARCHAR},
      bank_card_first_name_en = #{record.bankCardFirstNameEn,jdbcType=VARCHAR},
      bank_card_last_name_en = #{record.bankCardLastNameEn,jdbcType=VARCHAR},
      company_bank_name = #{record.companyBankName,jdbcType=VARCHAR},
      company_account_no = #{record.companyAccountNo,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_bank_branch = #{record.companyBankBranch,jdbcType=VARCHAR},
      qr_code_data = #{record.qrCodeData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update o_extfee_pay
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      extfee_pay_id = #{record.extfeePayId,jdbcType=VARCHAR},
      payment_id = #{record.paymentId,jdbcType=VARCHAR},
      third_order_id = #{record.thirdOrderId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      user_pay_time = #{record.userPayTime,jdbcType=TIMESTAMP},
      confirm_time = #{record.confirmTime,jdbcType=TIMESTAMP},
      pay_status = #{record.payStatus,jdbcType=TINYINT},
      pay_way = #{record.payWay,jdbcType=VARCHAR},
      pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      pay_third_party_channel = #{record.payThirdPartyChannel,jdbcType=VARCHAR},
      pay_result = #{record.payResult,jdbcType=VARCHAR},
      pay_proof_url = #{record.payProofUrl,jdbcType=VARCHAR},
      pay_proof_status = #{record.payProofStatus,jdbcType=TINYINT},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      loan_model = #{record.loanModel,jdbcType=TINYINT},
      payer = #{record.payer,jdbcType=VARCHAR},
      payee = #{record.payee,jdbcType=VARCHAR},
      qr_code = #{record.qrCode,jdbcType=VARCHAR},
      bank_id = #{record.bankId,jdbcType=INTEGER},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bank_branch = #{record.bankBranch,jdbcType=VARCHAR},
      account_no = #{record.accountNo,jdbcType=VARCHAR},
      bank_card_first_name_th = #{record.bankCardFirstNameTh,jdbcType=VARCHAR},
      bank_card_last_name_th = #{record.bankCardLastNameTh,jdbcType=VARCHAR},
      bank_card_first_name_en = #{record.bankCardFirstNameEn,jdbcType=VARCHAR},
      bank_card_last_name_en = #{record.bankCardLastNameEn,jdbcType=VARCHAR},
      company_bank_name = #{record.companyBankName,jdbcType=VARCHAR},
      company_account_no = #{record.companyAccountNo,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_bank_branch = #{record.companyBankBranch,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zml.demo.producer.dao.model.OExtfeePay">
    update o_extfee_pay
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="extfeePayId != null">
        extfee_pay_id = #{extfeePayId,jdbcType=VARCHAR},
      </if>
      <if test="paymentId != null">
        payment_id = #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="thirdOrderId != null">
        third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPayTime != null">
        user_pay_time = #{userPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="payWay != null">
        pay_way = #{payWay,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null">
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payThirdPartyChannel != null">
        pay_third_party_channel = #{payThirdPartyChannel,jdbcType=VARCHAR},
      </if>
      <if test="payResult != null">
        pay_result = #{payResult,jdbcType=VARCHAR},
      </if>
      <if test="payProofUrl != null">
        pay_proof_url = #{payProofUrl,jdbcType=VARCHAR},
      </if>
      <if test="payProofStatus != null">
        pay_proof_status = #{payProofStatus,jdbcType=TINYINT},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loanModel != null">
        loan_model = #{loanModel,jdbcType=TINYINT},
      </if>
      <if test="payer != null">
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankBranch != null">
        bank_branch = #{bankBranch,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCardFirstNameTh != null">
        bank_card_first_name_th = #{bankCardFirstNameTh,jdbcType=VARCHAR},
      </if>
      <if test="bankCardLastNameTh != null">
        bank_card_last_name_th = #{bankCardLastNameTh,jdbcType=VARCHAR},
      </if>
      <if test="bankCardFirstNameEn != null">
        bank_card_first_name_en = #{bankCardFirstNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bankCardLastNameEn != null">
        bank_card_last_name_en = #{bankCardLastNameEn,jdbcType=VARCHAR},
      </if>
      <if test="companyBankName != null">
        company_bank_name = #{companyBankName,jdbcType=VARCHAR},
      </if>
      <if test="companyAccountNo != null">
        company_account_no = #{companyAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyBankBranch != null">
        company_bank_branch = #{companyBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="qrCodeData != null">
        qr_code_data = #{qrCodeData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zml.demo.producer.dao.model.OExtfeePay">
    update o_extfee_pay
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      extfee_pay_id = #{extfeePayId,jdbcType=VARCHAR},
      payment_id = #{paymentId,jdbcType=VARCHAR},
      third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      user_pay_time = #{userPayTime,jdbcType=TIMESTAMP},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      pay_status = #{payStatus,jdbcType=TINYINT},
      pay_way = #{payWay,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      pay_third_party_channel = #{payThirdPartyChannel,jdbcType=VARCHAR},
      pay_result = #{payResult,jdbcType=VARCHAR},
      pay_proof_url = #{payProofUrl,jdbcType=VARCHAR},
      pay_proof_status = #{payProofStatus,jdbcType=TINYINT},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      loan_model = #{loanModel,jdbcType=TINYINT},
      payer = #{payer,jdbcType=VARCHAR},
      payee = #{payee,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_branch = #{bankBranch,jdbcType=VARCHAR},
      account_no = #{accountNo,jdbcType=VARCHAR},
      bank_card_first_name_th = #{bankCardFirstNameTh,jdbcType=VARCHAR},
      bank_card_last_name_th = #{bankCardLastNameTh,jdbcType=VARCHAR},
      bank_card_first_name_en = #{bankCardFirstNameEn,jdbcType=VARCHAR},
      bank_card_last_name_en = #{bankCardLastNameEn,jdbcType=VARCHAR},
      company_bank_name = #{companyBankName,jdbcType=VARCHAR},
      company_account_no = #{companyAccountNo,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_bank_branch = #{companyBankBranch,jdbcType=VARCHAR},
      qr_code_data = #{qrCodeData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zml.demo.producer.dao.model.OExtfeePay">
    update o_extfee_pay
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      extfee_pay_id = #{extfeePayId,jdbcType=VARCHAR},
      payment_id = #{paymentId,jdbcType=VARCHAR},
      third_order_id = #{thirdOrderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      user_pay_time = #{userPayTime,jdbcType=TIMESTAMP},
      confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      pay_status = #{payStatus,jdbcType=TINYINT},
      pay_way = #{payWay,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      pay_third_party_channel = #{payThirdPartyChannel,jdbcType=VARCHAR},
      pay_result = #{payResult,jdbcType=VARCHAR},
      pay_proof_url = #{payProofUrl,jdbcType=VARCHAR},
      pay_proof_status = #{payProofStatus,jdbcType=TINYINT},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      loan_model = #{loanModel,jdbcType=TINYINT},
      payer = #{payer,jdbcType=VARCHAR},
      payee = #{payee,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_branch = #{bankBranch,jdbcType=VARCHAR},
      account_no = #{accountNo,jdbcType=VARCHAR},
      bank_card_first_name_th = #{bankCardFirstNameTh,jdbcType=VARCHAR},
      bank_card_last_name_th = #{bankCardLastNameTh,jdbcType=VARCHAR},
      bank_card_first_name_en = #{bankCardFirstNameEn,jdbcType=VARCHAR},
      bank_card_last_name_en = #{bankCardLastNameEn,jdbcType=VARCHAR},
      company_bank_name = #{companyBankName,jdbcType=VARCHAR},
      company_account_no = #{companyAccountNo,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_bank_branch = #{companyBankBranch,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>